{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
    <div id="hero">
        <img src="/images/favicon.png" alt="5GCoreNetSDK logo" style="max-width: 25%">
        <p>{{.Description}}</p>
    </div>
    <div id="action-buttons">
        <a class="button primary big" href="https://pkg.go.dev/github.com/5GCoreNet/5GCoreNetSDK">Getting started</a> <a class="button outline big" href="https://github.com/5GCoreNet/5GCoreNetSDK">View on Github</a>
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}